# FoDS Final
#### What kinds of vehicles were consistently stolen across the United States  of America in 2015?
I'm interested in knowing what kinds of vehicles are frequently stolen in the USA, as someone who's interested in cars. When I first got my license, I started looking into affordable vehicles, and wanted to get an Acura Integra. I also at this point was told that the Integra is the most stolen vehicle, though I don't remember in what context. I decided to use this as my focus on my research.

In [1]:
import pandas

In [2]:
vtdf = pandas.read_csv("/Users/exost/vehicletheft2015.csv")
vtdf

     index    State  Rank                    Make/Model  Model Year Thefts
0        0  Alabama   1.0  Chevrolet Pickup (Full Size)      2005.0   499
1        1  Alabama   2.0       Ford Pickup (Full Size)      2006.0   357
2        2  Alabama   3.0                  Toyota Camry      2014.0   205
3        3  Alabama   4.0                 Nissan Altima      2014.0   191
4        4  Alabama   4.0              Chevrolet Impala      2004.0   191
..     ...      ...   ...                           ...         ...    ...
506    506  Wyoming   5.0                  Toyota Camry      1997.0     9
507    507  Wyoming   6.0                     GMC Yukon      2002.0     8
508    508  Wyoming   6.0                  Honda Accord      1997.0     8
509    509  Wyoming   7.0            Chevrolet Cavalier      2003.0     6
510    510      NaN   NaN                           NaN         NaN    NaN

[511 rows x 6 columns]

# Vehicle Thefts in 2015
The dataset identifies the top 10 most stolen vehicles in each of the 50 states, as well as the model year of each vehicle and how many thefts occurred.

In [3]:
for col in vtdf.columns:
    print(col)

index
State
Rank
Make/Model
Model Year
Thefts

In [4]:
vtdf.columns = vtdf.columns.str.replace('/', '')

In [5]:
vehicles = vtdf.MakeModel.value_counts()
vehicles

Ford Pickup (Full Size)          48
Honda Accord                     46
Chevrolet Pickup (Full Size)     45
Toyota Camry                     42
Honda Civic                      37
Jeep Cherokee/Grand Cherokee     33
Chevrolet Impala                 32
Dodge Pickup (Full Size)         29
Nissan Altima                    26
GMC Pickup (Full Size)           23
Toyota Corolla                   20
Dodge Caravan                    16
Chevrolet Pickup (Small Size)    11
Chevrolet Malibu                 11
Ford Explorer                     9
Honda CR-V                        9
Ford Taurus                       8
Nissan Maxima                     7
Acura Integra                     6
Nissan Sentra                     6
Subaru Legacy                     5
Ford Pickup (Small Size)          4
Chevrolet Tahoe                   4
Pontiac Grand Prix                3
Subaru Impreza                    3
Ford Focus                        2
GMC Yukon                         2
Chevrolet Cavalier                2
Ford Econoline E350               2
Ford Crown Victoria               1
Hyundai Elantra                   1
Chrysler Town & Country           1
Dodge Stratus                     1
Toyota Avalon                     1
Dodge Intrepid                    1
Pontiac Grand Am                  1
Chevrolet Cobalt                  1
Ford Fusion                       1
Chevrolet Trailblazer             1
Dodge Charger                     1
Hyundai Sonata                    1
Nissan Frontier                   1
Toyota 4Runner                    1
Toyota Tacoma                     1
Chrysler 300/300M                 1
Ford Mustang                      1
Acura TL                          1
Dodge Durango                     1
Name: MakeModel, dtype: int64

# Recurring Terms Observation
Since the dataset uses a column name that includes a special character, it was integral to first remove that character for easier access to the column. Looking at the vehicles listed, it seems that Ford Pickups are the most recurring stolen vehicle across every state's top 10. The Acura Integra only appears 6 times, apparently disproving the statement that I was given.

In [7]:
integra_bools = vtdf.MakeModel == "Acura Integra"
integra_bools

0      False
1      False
2      False
3      False
4      False
       ...
506    False
507    False
508    False
509    False
510    False
Name: MakeModel, Length: 511, dtype: bool

In [8]:
integra_bools = vtdf[integra_bools]
integra_bools

     index       State  Rank      MakeModel  Model Year   Thefts
45      45  California   6.0  Acura Integra      1994.0   4,273
57      57    Colorado   8.0  Acura Integra      1994.0     208
239    239   Minnesota  10.0  Acura Integra      1996.0      95
376    376      Oregon   7.0  Acura Integra      1994.0     209
447    447        Utah   8.0  Acura Integra      1995.0     103
473    473  Washington   4.0  Acura Integra      1994.0     640

# Acura Integra Observation
I wanted to look deeper into more than just how many times the Acura Integra appeared in the list, so I decided to take the dataset and single out the rows with the car included. By observing the boolean series, it is clear that the vehicle has only broken top 5 of any given state only 1 time.

In [22]:
totalthefts = vtdf.groupby('MakeModel')['Thefts'].sum()
totalthefts

MakeModel
Acura Integra                                       4,273  208  95  209  103  640
Acura TL                                                                       76
Chevrolet Cavalier                                                          17  6
Chevrolet Cobalt                                                                7
Chevrolet Impala                  191  76  28  40  542  512  579  423  101  98 ...
Chevrolet Malibu                  72  442  238  451  73  243  343  119  159  20...
Chevrolet Pickup (Full Size)      499  147  850  402  6,048  450  36  41  786  ...
Chevrolet Pickup (Small Size)       20  186  88  79  24  43  101  18  127  17  29
Chevrolet Tahoe                                                68  114  68  1,148
Chevrolet Trailblazer                                                         462
Chrysler 300/300M                                                              40
Chrysler Town & Country                                                       313
Dodge Caravan                     79  167  425  1,054  56  89  727  188  528  1...
Dodge Charger                                                                 477
Dodge Durango                                                                   9
Dodge Intrepid                                                                179
Dodge Pickup (Full Size)          138  44  428  127  308  534  452  37  45  263...
Dodge Stratus                                                                 209
Ford Crown Victoria                                                           210
Ford Econoline E350                                                      184  339
Ford Explorer                             119  31  22  99  27  185  123  146  119
Ford Focus                                                                  8  14
Ford Fusion                                                                   355
Ford Mustang                                                                  122
Ford Pickup (Full Size)           357  95  772  252  4,504  595  31  49  2,070 ...
Ford Pickup (Small Size)                                            22  19  22  5
Ford Taurus                                      22  182  77  94  250  16  17  19
GMC Pickup (Full Size)            152  58  246  174  32  192  60  113  253  26 ...
GMC Yukon                                                                  125  8
Honda Accord                      180  46  1,072  122  28,345  1,167  534  43  ...
Honda CR-V                             2,033  92  23  107  190  283  158  27  172
Honda Civic                       56  1,016  28,045  1,380  532  53  1,127  653...
Hyundai Elantra                                                                 7
Hyundai Sonata                                                                169
Jeep Cherokee/Grand Cherokee      28  207  594  110  109  449  19  374  65  89 ...
Nissan Altima                     191  269  89  2,281  143  23  62  1,098  484 ...
Nissan Frontier                                                                44
Nissan Maxima                                    184  479  208  195  328  45  188
Nissan Sentra                                        200  2,555  200  340  5  296
Pontiac Grand Am                                                               17
Pontiac Grand Prix                                                   183  56  418
Subaru Impreza                                                        171  106  5
Subaru Legacy                                               215  377  262  6  599
Toyota 4Runner                                                                 45
Toyota Avalon                                                                  18
Toyota Camry                      205  210  82  5,345  203  131  20  95  1,089 ...
Toyota Corolla                    3,339  170  99  21  70  914  64  110  13  204...
Toyota Tacoma                                                                  86
Name: Thefts, dtype: object

In [24]:
testtotal = totalthefts.to_frame()
testtotal

                                                                          Thefts
MakeModel
Acura Integra                                     4,273  208  95  209  103  640
Acura TL                                                                     76
Chevrolet Cavalier                                                        17  6
Chevrolet Cobalt                                                              7
Chevrolet Impala                191  76  28  40  542  512  579  423  101  98 ...
Chevrolet Malibu                72  442  238  451  73  243  343  119  159  20...
Chevrolet Pickup (Full Size)    499  147  850  402  6,048  450  36  41  786  ...
Chevrolet Pickup (Small Size)     20  186  88  79  24  43  101  18  127  17  29
Chevrolet Tahoe                                              68  114  68  1,148
Chevrolet Trailblazer                                                       462
Chrysler 300/300M                                                            40
Chrysler Town & Country                                                     313
Dodge Caravan                   79  167  425  1,054  56  89  727  188  528  1...
Dodge Charger                                                               477
Dodge Durango                                                                 9
Dodge Intrepid                                                              179
Dodge Pickup (Full Size)        138  44  428  127  308  534  452  37  45  263...
Dodge Stratus                                                               209
Ford Crown Victoria                                                         210
Ford Econoline E350                                                    184  339
Ford Explorer                           119  31  22  99  27  185  123  146  119
Ford Focus                                                                8  14
Ford Fusion                                                                 355
Ford Mustang                                                                122
Ford Pickup (Full Size)         357  95  772  252  4,504  595  31  49  2,070 ...
Ford Pickup (Small Size)                                          22  19  22  5
Ford Taurus                                    22  182  77  94  250  16  17  19
GMC Pickup (Full Size)          152  58  246  174  32  192  60  113  253  26 ...
GMC Yukon                                                                125  8
Honda Accord                    180  46  1,072  122  28,345  1,167  534  43  ...
Honda CR-V                           2,033  92  23  107  190  283  158  27  172
Honda Civic                     56  1,016  28,045  1,380  532  53  1,127  653...
Hyundai Elantra                                                               7
Hyundai Sonata                                                              169
Jeep Cherokee/Grand Cherokee    28  207  594  110  109  449  19  374  65  89 ...
Nissan Altima                   191  269  89  2,281  143  23  62  1,098  484 ...
Nissan Frontier                                                              44
Nissan Maxima                                  184  479  208  195  328  45  188
Nissan Sentra                                      200  2,555  200  340  5  296
Pontiac Grand Am                                                             17
Pontiac Grand Prix                                                 183  56  418
Subaru Impreza                                                      171  106  5
Subaru Legacy                                             215  377  262  6  599
Toyota 4Runner                                                               45
Toyota Avalon                                                                18
Toyota Camry                    205  210  82  5,345  203  131  20  95  1,089 ...
Toyota Corolla                  3,339  170  99  21  70  914  64  110  13  204...
Toyota Tacoma                                                                86

In [28]:
totalthefts.sort_values(ascending=False)

MakeModel
Dodge Durango                                                                   9
Toyota Tacoma                                                                  86
Ford Focus                                                                  8  14
Dodge Caravan                     79  167  425  1,054  56  89  727  188  528  1...
Acura TL                                                                       76
Chevrolet Malibu                  72  442  238  451  73  243  343  119  159  20...
Chevrolet Cobalt                                                                7
Hyundai Elantra                                                                 7
Chevrolet Tahoe                                                68  114  68  1,148
Honda Civic                       56  1,016  28,045  1,380  532  53  1,127  653...
Chevrolet Pickup (Full Size)      499  147  850  402  6,048  450  36  41  786  ...
Dodge Charger                                                                 477
Chevrolet Trailblazer                                                         462
Toyota 4Runner                                                                 45
Nissan Frontier                                                                44
Chrysler 300/300M                                                              40
Acura Integra                                       4,273  208  95  209  103  640
Ford Pickup (Full Size)           357  95  772  252  4,504  595  31  49  2,070 ...
Ford Fusion                                                                   355
Chrysler Town & Country                                                       313
Toyota Corolla                    3,339  170  99  21  70  914  64  110  13  204...
Jeep Cherokee/Grand Cherokee      28  207  594  110  109  449  19  374  65  89 ...
Ford Pickup (Small Size)                                            22  19  22  5
Ford Taurus                                      22  182  77  94  250  16  17  19
Subaru Legacy                                               215  377  262  6  599
Ford Crown Victoria                                                           210
Dodge Stratus                                                                 209
Toyota Camry                      205  210  82  5,345  203  131  20  95  1,089 ...
Nissan Sentra                                        200  2,555  200  340  5  296
Chevrolet Pickup (Small Size)       20  186  88  79  24  43  101  18  127  17  29
Honda CR-V                             2,033  92  23  107  190  283  158  27  172
Chevrolet Impala                  191  76  28  40  542  512  579  423  101  98 ...
Nissan Altima                     191  269  89  2,281  143  23  62  1,098  484 ...
Nissan Maxima                                    184  479  208  195  328  45  188
Ford Econoline E350                                                      184  339
Pontiac Grand Prix                                                   183  56  418
Honda Accord                      180  46  1,072  122  28,345  1,167  534  43  ...
Toyota Avalon                                                                  18
Dodge Intrepid                                                                179
Subaru Impreza                                                        171  106  5
Chevrolet Cavalier                                                          17  6
Pontiac Grand Am                                                               17
Hyundai Sonata                                                                169
GMC Pickup (Full Size)            152  58  246  174  32  192  60  113  253  26 ...
Dodge Pickup (Full Size)          138  44  428  127  308  534  452  37  45  263...
GMC Yukon                                                                  125  8
Ford Mustang                                                                  122
Ford Explorer                             119  31  22  99  27  185  123  146  119
Name: Thefts, dtype: object

# Conclusion
The resulting data observations seems to indicate that the top most stolen vehicle in the United States of America in 2015 were full size Ford pickups. This disproves the initial statement that the Acura Integra was the most stolen vehicle, given that once we delved deeper into the data, it possessed an evidently low involvement in 2015 automobile thefts. The amount of Integra thefts was only a small fraction to that of the Ford pickup.